<header>
  <!-- https://mdbootstrap.com/docs/jquery/navigation/navbar/ -->
  <nav class="navbar navbar-expand-lg navbar-dark success-color">
    <a class="navbar-brand" href="#">WebApps</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="basicExampleNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <!-- <li class="nav-item dropdown">
        <a class="nav-link" href="/developer">About Us</a>  -->

          <!-- <select class = "nav-link" href="/developer">About Us
            <option value="https://github.com/Chinmayi98 ">Chinmayi</option>
            <option value="https://github.com/MAHALAKSHMIKONGARI">Maha Lakshmi</option>
            <option value="https://github.com/Deepthi1003">Deepthi Tejaswani</option>
            <option value="audi" selected>Audi</option>
          </select>
        

          <div class="dropdown">
              button  class="dropbtn">Dropdown</button
              
              <div id="myDropdown" class="dropdown-content">
                <a href="https://github.com/Chinmayi98">Chinmayi</a>
                <a href="https://github.com/MAHALAKSHMIKONGARI">Maha Lakshmi</a>
                <a href="https://github.com/Deepthi1003">Deepthi Tejaswani</a>
                </select>
              </div>
            </div>
          --> 

          <!-- <li class="nav-item dropdown">
          <div class="nav-item dropdown-menu" aria-label="dropdown03">
              <li>   <a class="dropdown-item" href="https://github.com/Chinmayi98">Chinmayi</a> </li>
              <li>   <a class="dropdown-item" href="https://github.com/MAHALAKSHMIKONGARI">MahaLakshmi</a> </li>
              <li>   <a class="dropdown-item" href="https://github.com/Deepthi1003">Deepthi Tejaswani</a> </li>
          </div>
          </li>
        </li> -->

        
          
        
        <li class="nav-item">
          <a class="nav-link" href="/course">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/student">Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/section">Sections</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/about" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About Us
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
             <li><a class="dropdown-item" href="https://chinmayi98.github.io/p2-styled-site/">Chinmayi</a></li>
             <li><a class="dropdown-item" href="https://mahalakshmikongari.github.io/p2PubliseSite/">MahaLakshmi</a></li>
            <li><a class="dropdown-item" href="https://deepthi1003.github.io/p2-published-site/">Deepthi Tejaswani</a></li>
     
          </ul>
           </li>
          


          
      </ul>
    </div>
  </nav>
</header>