<main class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br />
      <h1>Web App students - Fall 2019</h1>
      <br />
      <hr>
      <!-- <h3>During development, test api here.</h3>
      <br />
      <br /> -->
      <br />
      <h4>COURSE: Test GET JSON by URL</h4>
      <ol>
        <li> <a href="http://localhost:3004/course/findall">http://localhost:3004/course/findall</a></li>
        <li>
          <a href="http://localhost:3004/course/findone/1">http://localhost:3004/course/findone/1</a>
        </li>
        <li>
          <a href="http://localhost:3004/course/findone/2">http://localhost:3004/course/findone/2</a>
        </li>
        <li>
          <a href="http://localhost:3004/course/findone/3">http://localhost:3004/course/findone/3</a>
        </li>
        <li> <a href="http://localhost:3004/course/findone/4">http://localhost:3004/course/findone/4</a>
        </li>
        <li> <a href="http://localhost:3004/course/findone/5">http://localhost:3004/course/findone/5</a>
        </li>
        <li> <a href="http://localhost:3004/course/findone/6">http://localhost:3004/course/findone/6</a>
        </li>
        <li> <a href="http://localhost:3004/course/findone/8">http://localhost:3004/course/findone/8</a>
        </li>
        <li> <a href="http://localhost:3004/newpage">http://localhost:3004/newpage</a>
        </li>
      </ol>
<!-- 
      <br>

      <br/> -->
      <h4>STUDENT: Test GET JSON by URL</h4>
      <ol>
        <li> <a href="http://localhost:3004/student/findall">http://localhost:3004/student/findall</a></li>
        <li>
          <a href="http://localhost:3004/student/findone/1">http://localhost:3004/student/findone/1</a>
        </li>
        <li>
          <a href="http://localhost:3004/student/findone/2">http://localhost:3004/student/findone/2</a>
        </li>
        <li>
          <a href="http://localhost:3004/student/findone/3">http://localhost:3004/student/findone/3</a>
        </li>
        <li> <a href="http://localhost:3004/student/findone/4">http://localhost:3004/student/findone/4</a>
        </li>
        <li> <a href="http://localhost:3004/student/findone/5">http://localhost:3004/student/findone/5</a>
        </li>
        <li> <a href="http://localhost:3004/student/findone/6">http://localhost:3004/student/findone/6</a>
        </li>
        <li> <a href="http://localhost:3004/student/findone/8">http://localhost:3004/student/findone/8</a>
        </li>
        <li> <a href="http://localhost:3004/newpage">http://localhost:3004/newpage</a>
        </li>
      </ol>

      <br>

      <h4>COURSE: Test Requests to GET a view</h4>

      <ol>
        <li> <a href="http://localhost:3004/course">http://localhost:3004/course</a>
        </li>
        <li> <a href="http://localhost:3004/course/create">http://localhost:3004/course/create</a>
        </li>
        <li> <a href="http://localhost:3004/course/edit/1">http://localhost:3004/course/edit/1</a>
        </li>
        <li> <a href="http://localhost:3004/course/delete/1">http://localhost:3004/course/delete/1</a>
        </li>
        <li> <a href="http://localhost:3004/course/details/1">http://localhost:3004/course/details/1</a></li></ol>
<br>

      <h4>STUDENT: Test Requests to GET a view</h4>

      <ol>
        <li> <a href="http://localhost:3004/student">http://localhost:3004/student</a>
        </li>
        <li> <a href="http://localhost:3004/student/create">http://localhost:3004/student/create</a>
        </li>
        <li> <a href="http://localhost:3004/student/edit/1">http://localhost:3004/student/edit/1</a>
        </li>
        <li> <a href="http://localhost:3004/student/delete/1">http://localhost:3004/student/delete/1</a>
        </li>
        <li> <a href="http://localhost:3004/student/details/1">http://localhost:3004/student/details/1</a>
        </li>
      </ol>


    </div>
  </div>
</main>
<hr>

</div>
</div>
</div>